<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xsi:schemaLocation="
http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0 http://svn.apache.org/repos/asf/aries/trunk/blueprint/blueprint-cm/src/main/resources/org/apache/aries/blueprint/compendium/cm/blueprint-cm-1.1.0.xsd">

    <cm:property-placeholder persistent-id="ConfigRedis">
        <cm:default-properties>
            <cm:property name="hostName" value="localhost"/>
            <cm:property name="port" value="6379"/>
            <!--<cm:property name="jndiName" value="leaderboard"/>-->
        </cm:default-properties>
    </cm:property-placeholder>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!-- <property name="maxActive" value="1024" />
         <property name="maxIdle" value="200" />
         <property name="maxWait" value="1000" />
         <property name="testOnBorrow" value="true" />-->
    </bean>

    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool">
        <argument index="0" ref="jedisPoolConfig"/>
        <argument index="1">
            <list>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <argument index="0" value="${hostName}"/>
                    <!--//127.0.0.1-->
                    <argument index="1" value="${port}" type="int"/>
                </bean>
            </list>
        </argument>
    </bean>

    <service interface="com.kalix.framework.core.api.cache.ICacheManager" ref="cacheManager">

    </service>
    <bean id="cacheManager" class="com.kalix.framework.core.cache.impl.DefaultCacheManager" init-method="init">
        <property name="pool" ref="shardedJedisPool"/>
    </bean>
    <!--<bean id="df" class="com.kalix.framework.core.impl.cache.TestCache" init-method="init">
        <property name="cacheManager" ref="cacheManager"/>
    </bean>-->

</blueprint>